<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

<body class="pico">
    <div class="container">
        <nav>
          <ul>
            <li>
              <a href="/rock">
                Play Rock
              </a>
            </li>

            <li>
              <a href="/paper">
                Play Paper
              </a>
            </li>

            <li>
              <a href="/scissors">
                Play Scissors
              </a>
            </li>
          </ul>
        </nav>

      <h1>
      Welcome to Rock-Paper-Scissors!
    </h1>

    <%= yield %>

  </body>
</html>
