<!DOCTYPE html>
<html>
  <head>
    <title>RPS</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  </head>

  <body class="pico">
    <div class="container">
      <header>
        <nav>
          <ul>
            <li>
              <a href="/rock">
                Play Rock
              </a>
            </li>

            <li>
              <a href="/paper">
                Play Paper
              </a>
            </li>

            <li>
              <a href="/scissors">
                Play Scissors
              </a>
            </li>
          </ul>
        </nav>
      </header>
      
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
